<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ntp_projekt.Properties.Settings.TeamPlanConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\TeamPlan.accdb"
            providerName="System.Data.OleDb" />
        <add name="ntp_projekt.Properties.Settings.TeamPlanConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\.mdb"
            providerName="System.Data.OleDb" />
        <add name="ntp_projekt.Properties.Settings.TeamPlanConnectionString2"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\TeamPlan.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="TextCasingSoapBinding">
					<security mode="Transport" />
				</binding>
				<binding name="TextCasingSoapBinding1" />
			</basicHttpBinding>
			<customBinding>
				<binding name="TextCasingSoapBinding12">
					<textMessageEncoding messageVersion="Soap12" />
					<httpsTransport />
				</binding>
			</customBinding>
		</bindings>
		<client>
			<endpoint address="https://www.dataaccess.com/webservicesserver/TextCasing.wso"
    binding="basicHttpBinding" bindingConfiguration="TextCasingSoapBinding"
    contract="soap.TextCasingSoapType" name="TextCasingSoap" />
			<endpoint address="https://www.dataaccess.com/webservicesserver/TextCasing.wso"
    binding="customBinding" bindingConfiguration="TextCasingSoapBinding12"
    contract="soap.TextCasingSoapType" name="TextCasingSoap12" />
		</client>
	</system.serviceModel>
</configuration>